{% extends "base.html" %}

{% block main %}
    <article class="wrapper">
    <div class="prose mx-auto">
      <h1>
        this site is very much under construction please check back later
      </h1>
      <p>
        My name is Berk and I'm a software engineer, coffee enthusiast, amateur photographer and musician living in London.
      </p>
      <p>
        I'm currently working for Apple, making Apple Pay work for billions of customers around the world.
      </p>
      <p>
        This is my little home on the internet, my online presence outside social media.
      </p>

      <h2>Writing</h2>
      <div class="divide-y-1 divide-gray-5">
        <div class="flex items-center justify-between py-s">
          <a href="#">the title</a>
          <time class="text-gray-11">the time</time>
        </div>
        <div class="flex items-center justify-between py-s">
          <a href="#">the title</a>
          <time class="text-gray-11">the time</time>
        </div>
        <div class="flex items-center justify-between py-s">
          <a href="#">the title</a>
          <time class="text-gray-11">the time</time>
        </div>
      </div>

    </div>
  </article>
{% endblock %}