<header class="mb-m py-m leading-single">
    <div class="wrapper flex items-center justify-between">
        <h1>
            <a href="{{ url("home") }}" class="flex items-center no-underline font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24"
                     class="flex-shrink-0 size-6 fill-accent-10 dark:fill-accent-dark-10 mr-2xs">
                    <path
                            d="M486.91 478.08v9.21H356.86l-28.67-28.67-91.13-254.93h-17.92c-6.14 0-9.22 1.54-11.26 11.77l-38.4 176.1H50.18l-34.82-36.35 45.57-212.45c13.31-58.87 55.81-94.7 117.25-94.7h35.33c42.5 0 73.73 13.82 96.25 36.86l8.7 8.7V20.43h135.17l31.23 31.23v110.06H371.2c3.58 8.19 7.17 16.38 10.24 25.08l105.47 291.28Zm-56.32-41.47-98.3-270.8c-22.53-61.43-55.81-95.73-118.78-95.73h-35.33c-53.25 0-85.5 31.23-95.74 77.3l-41.98 193.5h82.94l34.3-158.69c3.58-16.89 13.31-28.67 32.77-28.67h22.02c23.55 0 35.33 16.38 45.06 43l86.02 240.09h87.04Zm-52.23-320.97V39.37H337.4v76.28h40.96Zm60.42 0V39.37h-40.45v76.28h40.45Z"></path>
                </svg>
                <span class="hidden sm:block">bozbalci</span>
            </a>
        </h1>
        <nav>
            <ul class="flex items-center gap-x-2xs">
                <li class="py-2xs px-xs">
                    <a href="{{ url("about") }}" class="no-underline">About</a>
                </li>
                <li class="py-2xs px-xs">
                    <a href="{{ url("now") }}" class="no-underline">Now</a>
                </li>
                <li class="py-2xs px-xs hide-no-js" id="theme-toggle">
                    <div class="size-6"></div>
                </li>
            </ul>
        </nav>
    </div>
</header>
