{% load i18n %}
{% load wagtailcore_tags %}
<nav class="lg:sticky lg:top-gutter">
    <ul>
        <li>
            <a href="{% pageurl gallery_index %}">{% trans "Camera roll" %}</a>
        </li>
        <li class="mt-xs text-gray-9 dark:text-gray-dark-9">{% trans "Albums" %}</li>
        {% for album in albums %}
            <li>
                {% if album.title == page.title %}
                    <span class="text-gray-10 dark:text-gray-dark-10">{{ album.title }}</span>
                {% else %}
                    <a href="{% pageurl album %}">{{ album.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
