{% extends "base_with_sidebar.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block title %}Photo Albums{% endblock %}
{% block navigation %}
    {% include "photo/partials/navigation.html" %}
{% endblock %}
{% block content %}
    <ul class="auto-grid grid-min-item-[12rem]">
        {% for album in albums %}
            <li>
                <a href="{% pageurl album %}" class="no-underline">
                    <div class="photo-thumbnail">
                        {% if album.cover_image %}
                            {% image album.cover_image fill-600x600 class="border-1 border-gray-6 dark:border-gray-dark-6 aspect-square object-cover" loading="lazy" %}
                        {% else %}
                            <div class="border-1 border-gray-6 dark:border-gray-dark-6 aspect-square width-[600px] font-mono flex items-center justify-center bg-gray-3 dark:bg-gray-dark-3">
                                Empty
                            </div>
                        {% endif %}
                    </div>
                    <div class="font-bold text-gray-12 dark:text-gray-dark-12 mt-3xs">{{ album.title }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
