/* Done is better than perfect. */

/**
 * Specificity hack for lightGallery
 * https://stackoverflow.com/questions/19399625/what-is-the-most-character-efficient-way-to-increase-css-specificity
 */
.e-label,
.e-permalink:not(#\9) {
  @apply text-gray-9 dark:text-gray-dark-9;
}

.grid-gutter-3xs {
  --gutter: var(--spacing-3xs);
}

.grid-min-item-\[12rem\] {
  --grid-min-item-size: 12rem;
}

.a-album {
  --gutter: var(--spacing-s);
}
