{% extends "base_with_sidebar.html" %}

{% block title %}Gallery{% endblock %}

{% block navigation %}
  {% include "photo/partials/navigation.html" %}
{% endblock %}

{% block scripts %}
  {{ enqueue_script("lightbox-gallery/app.js") }}
{% endblock %}

{% block content %}
  {% if photos %}
  <div class="auto-grid grid-gutter-3xs" id="lightbox-gallery">
    {% for photo in photos %}
      {% set original_url = image(photo.image, "original").url %}
      <a href="{{ pageurl(photo) }}">
        <div
          class="photo-thumbnail"
          data-src="{{ original_url }}"
          data-sub-html="{{ photo|lg_caption }}"
        >
          {{ image(photo.image,
          "width-600",
          class="border-1 border-gray-6 dark:border-gray-dark-6 aspect-square object-cover") }}
        </div>
      </a>
    {% endfor %}
  </div>
    {% else %}
    <div>
      This album is currently empty. Please check back later!
    </div>
  {% endif %}
{% endblock %}
