{% extends "base_with_sidebar.html" %}

{% block title %}
  {% if photo.title %}
    {{ photo.title }}
  {% else %}
    Untitled Photo
  {% endif %}
{% endblock %}

{% block navigation %}
  {% include "photo/partials/navigation.html" %}
{% endblock %}

{% block scripts %}
  {{ enqueue_script("lightbox/app.js") }}
{% endblock %}

{% block content %}
  <article class="h-entry">
    <div id="article-container" class="prose mx-auto">
      <div id="lightbox">
        <img src="{{ photo.image_url }}" alt="{{ photo.title }}" />
      </div>

      <div
        class="font-mono flex items-start justify-between mt-s text-step--2 leading-tight"
      >
        <div class="text-left">
          <div class="e-camera">
            <span class="e-make">{{ photo.exif.make }}</span>
            <span class="e-model">{{ photo.exif.model }}</span>
          </div>
          <div>
            <span class="e-lens">{{ photo.exif.lens }}</span>
          </div>
          <div>
            <span class="e-focal-length">{{ photo.exif.focal_length }}</span>,
            <span class="e-aperture">&fnof;/{{ photo.exif.aperture }}</span>,
            <span class="e-shutter">{{ photo.exif.shutter }}</span>,
            <span class="e-iso">ISO {{ photo.exif.iso }}</span>
          </div>
        </div>

        <div class="text-right">
          {% if photo.title %}
            <div>
              <span class="e-title italic double-quote">{{ photo.title }}</span>
            </div>
          {% endif %}

          <div>
            <span class="e-uploaded">
              Uploaded on
              <time datetime="{{ photo.uploaded_at|format_iso_date }}"
                >{{ photo.uploaded_at|format_date }}</time
              >
            </span>
          </div>
          <div>
            <span class="e-taken text-gray-10 dark:text-gray-dark-10">
              Taken on
              <time datetime="{{ photo.exif.shot_at|format_iso_date }}"
                >{{ photo.exif.shot_at|format_date }}</time
              >
            </span>
          </div>
        </div>
      </div>

      <div class="mx-auto font-serif mt-s">
        <ul>
          <li>
            <a href="/gallery">Back to the gallery</a>
          </li>
          {% for album in photo.albums.all() %}
            <li>
              <a href="/gallery/album/{{ album.slug }}">
                Back to the album &lsquo;{{ album.name }}&rsquo;
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
{% endblock %}
