[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User={{ user }}
Group=www-data
WorkingDirectory=/home/{{ user }}/release-current
Environment="DJANGO_SETTINGS_MODULE={{ django_settings_module }}"
ExecStart=/home/{{ user }}/release-current/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          notcms.wsgi:application

[Install]
WantedBy=multi-user.target