{% extends "base.html" %}

{% block title %}
  Writing
{% endblock %}

{% block main %}
  <article class="wrapper">
    <div class="prose mx-auto">
      <h1>Writing</h1>
      <div class="divide-y-1 divide-gray-5 dark:divide-gray-dark-5">
        {% for post in posts %}
          <div class="flex items-start justify-between py-s gap-x-s">
            <a class="whitespace-nowrap overflow-hidden overflow-ellipsis"
               href="{{ post.get_absolute_url() }}">{{ post.title }}</a>
            <time class="text-gray-11 dark:text-gray-dark-11 flex-shrink-0"
                  datetime="{{ post.created|format_iso_date }}">{{ post.created|format_date }}</time>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>
{% endblock %}
