{% extends "base.html" %}

{% block title %}
  {{ flatpage.title }}
{% endblock %}

{% block main %}
  <article class="h-entry wrapper">
    <div id="article-container" class="prose mx-auto">
      <header class="post-header">
        <h1 class="entry-title">{{ flatpage.title }}</h1>
        <div class="entry-meta">
          Posted on
          <a href="#" rel="bookmark">
            <time class="entry-date published" datetime={{ flatpage.published_at|format_iso_date }}>
              {{ flatpage.published_at|format_date }}</time></a>
          {% if flatpage.modified_at.date != flatpage.published_at.date %}
            &middot; last updated
            <time class="updated" datetime={{ flatpage.modified_at|format_iso_date }}>
              {{ flatpage.modified_at|format_date }}
            </time>
          {% endif %}
        </div>
      </header>
      {{ flatpage.content|render_markdown|safe }}
    </div>
  </article>
{% endblock %}