{% load humanize %}

<footer class="mt-3xl border-t border-gray-6 py-m">
  <div class="wrapper text-step--1">
    <div class="flex items-start repel">
      <div class="max-w-[60ch] text-step--2">
        <p>
          &copy;&nbsp;2014–{% now "Y" %} Berk Özbalcı. Proudly powered by <a
            href="https://www.djangoproject.com">Django</a>.
        </p>
        {% if last_played %}
          <p>
            <span class="block font-semibold">
              Latest track from <a href="https://last.fm/user/theconjuring666">Last.fm</a>:
            </span>
            <span class="block">
              <img src="{{ last_played.image_url }}" width="16" height="16" class="inline-block"
                   alt="Cover image for {{ last_played.artist }} - {{ last_played.title }}"/>
              <a href="{{ last_played.lastfm_url }}" target="_blank" rel="noopener noreferrer">
                {{ last_played.artist }} - {{ last_played.title }}
              </a>
            </span>
            <span class="block text-gray-11">
              scrobbled {{ last_played.scrobbled_at|naturaltime }}
            </span>
          </p>
        {% endif %}
        <p>
          No large language models were used in the production of this site.
          (Inspired by <a href="https://tantek.com">tantek.com</a>, which in turn was inspired by <a
            href="[2]: https://www.rfc-editor.org/rfc/rfc9518.html#appendix-A-4">RFC 9518 Appendix A ¶&nbsp;4</a>.)
        </p>
      </div>
      <div class="flex space-x-m">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Photos</a></li>
          <li><a href="/music-collection">Music Collection</a></li>
          <li><a href="/colophon">Colophon</a></li>
          <li><a href="/feed">RSS</a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/bozbalci" rel="nofollow">GitHub</a></li>
          <li><a href="https://bsky.app/profile/bozbalci.me" rel="nofollow">Bluesky</a></li>
          <li><a href="https://linkedin.com/in/bozbalci" rel="nofollow">LinkedIn</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>